{% extends '/misc/base.html.twig' %}

{% block title %}Wishes index{% endblock %}

{% block title2 %}Wishes index{% endblock %}

{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Author</th>
                <th>Category</th>
                <th>DateCreated</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for wish in wishes %}
            <tr>
                <td>{{ wish.id }}</td>
                <td>{{ wish.title }}</td>
                <td>{{ wish.description }}</td>
                <td>{{ wish.author }}</td>
                <td>{{ wish.category.name }}</td>
                <td>{{ wish.dateCreated ? wish.dateCreated|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('wish_show', {'id': wish.id}) }}"><button type="button" class="btn btn-info btn-sm">show</button></a>
                    {%if app.user %}<a href="{{ path('wish_edit', {'id': wish.id}) }}"><button type="button" class="btn btn-primary btn-sm">edit</button></a>{% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ include('/misc/form.html.twig', {'notForm': true, 'create': true, 'type': 'wish'}) }}

{% endblock %}
