{% if not notForm|default(false)%}

{{ form_start(form) }}

    {{ form_widget(form) }}

{% endif %}

    {% if create|default(false) %}
        <a href="{{ path(type ~ '_new') }}"><button class="btn btn-primary">Create new</button></a>
    {% endif %}

    {% if save|default(false) %}
        <button class="btn btn-primary">Save</button>
    {% endif %}

    {% if update|default(false) %}
        <a href="{{ path(type ~ '_edit', {'id': id}) }}"><button class="btn btn-primary">Update</button></a>
    {% endif %}

    {% if back|default(false) %}
        <a href="{{ path(type ~ '_index') }}"><button type="button" class="btn btn-success">back to list</button></a>
    {% endif %}

    {% if delete|default(false) %}
        <form method="post" action="{{ path(type ~ '_delete', {'id': id}) }}" style="display: inline-block" onsubmit="return confirm('Are you sure you want to delete this item?');">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ id) }}">
            <button class="btn btn-danger">Delete</button>
        </form>
    {% endif %}

{% if not notForm|default(false)%}

    {{ form_end(form) }}

{% endif %}
